.banner {
    border: 1px solid #000;
    width: 300px;
    height: 250px;
    padding: 4px;
    box-sizing: border-box;
    overflow: hidden;
}

.banner .section {
    width: 31%;
    height:  238px;
    float: left;
    margin-right: 6px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    text-align: center;
    font-family: sans-serif;
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
    background: white;
    z-index: 100;
}

.banner .section .circle {
    width: 80%;
    height: 74px;
    margin: 10px auto;
    border-radius: 50px;
    background: #4D4D62;
    color: white;
    text-align: center;
}

.banner .section .circle strong {
    line-height: 67px;
}

.banner .section h4 {
    margin: 10px;
}

.banner .section:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 110;
}

@-moz-keyframes slidein {
    0%{
        left: -300px;
    }
    100% {
        left: 0px;
    }
}

@-webkit-keyframes slidein {
    0%{
        left: -300px;
    }
    100% {
        left: 0px;
    }
}

.section {
    position: relative;
}

.sec1 {
    -webkit-animation: slidein 1s forwards;
    animation: slidein 1s forwards;
}

.sec2 {
    -webkit-animation: slidein 1s forwards 1s;
    animation: slidein 1s forwards 1s;
    left: -200px;
}

.sec3 {
    -webkit-animation: slidein 1s forwards 2s;
    animation: slidein 1s forwards 2s;
    left: -300px;
}